gradle/
!gradle/wrapper/*.*
!gralew*
.gradle/

**/.idea
!*.idea/runConfigurations
!*.idea/jsLibraryMappings.xml
!*.idea/misc.xml
!*.idea/vcs.xml
**/*.log*
**/*.ipr
**/*.iml
**/*.iws

out/
build/
target/
classes/


dist/
node_modules/
src/main/resources/static/
