out/
build/
target/
classes/

.gradle/
**/.idea
**/*.log*
**/*.ipr
**/*.iml
**/*.iws

dist/
node_modules/
src/main/resources/static/

gradle/
!.idea/compiler.xml
!.idea/jsLibraryMappings.xml
!.idea/watcherTasks.xml
