node_modules/
**/dist/
src/main/resources/static
out/
.idea/
build/
target/
gradle/
classes/
.gradle/
gradlew*
**/*.log*
*.ipr
*.iml
*.iws
!.idea/runConfigurations
!.idea/runConfigurations/*.xml
!.idea/compiler.xml
!.idea/jsLibraryMappings.xml
!.idea/watcherTasks.xml
