angular2/.gitignore-e

/_test-output/
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log*
*.log
/typings

# compile putput
/ui/e2e/*.js
/ui/e2e/*.map
/ui/src/*.js
/ui/src/*.map

#System Files
.DS_Store
Thumbs.db
